<aside class="side-bar">
  <div>
    <h2 class="title">Agenda</h2>
    <div class="menu">
      <h3>Gestão de Agendamento</h3>
      <ul>
        <!-- O routerLinkActive define a classe 'active' dinamicamente -->
        <li routerLinkActive="active active-home">
          <a [routerLink]="'/home'">
            <img src="../../assets/icon-home-fill.svg" alt="Home">Home
          </a>
        </li>
        <li routerLinkActive="active active-paciente">
          <a [routerLink]="'/pacientes'">
            <img src="../../assets/icon-paciente.svg" alt="Pacientes">Pacientes
          </a>
        </li>
      </ul>
    </div>
  </div>
  <a href="#" class="sair">Sair</a>
</aside>
