.paciente-infos {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paciente {
  background-color: #F4FAFD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #1E1E1E;
}

.status {

  text-align: center;
  padding: 8px;
  border-radius: 100px;

}

.w25 {
  width: 20%;
  text-align: center;
}

.status-presente {
  background-color: rgba(0, 178, 62, 1);
}

.status-ausente {
  background-color: rgba(253, 85, 85, 1);
}