<aside class="side-bar">
  <div >
    <h2 class="title">Agenda</h2>
    <div class="menu">
      <h3>Gestão de Agendamento</h3>
      <ul>
        <li class="active active-home"><a href="#"> <img src="../../assets/icon-home-fill.svg">Home</a></li>
        <li><a href="#"> <img src="../../assets/icon-agenda.svg" alt="">Agenda</a></li>
        <li><a href="#"> <img src="../../assets/icon-paciente.svg" alt="">Pacientes</a></li>
      </ul>
    </div>
  </div>
  <a href="#" class="sair">Sair</a>
</aside>