<section class="paciente-infos">
  <p class="w20">
    {{ atendimento?.disponibilidade?.horario_inicio ?? 'Início não disponível' }}<br>
    {{ atendimento?.disponibilidade?.horario_fim ?? 'Fim não disponível' }}
  </p>
  <div class="paciente">
    <p class="w50">{{ atendimento?.disponibilidade?.paciente?.username ?? 'Paciente não disponível' }}</p>
    <p class="status w25 " [ngClass]="{
      'status-agendado': atendimento?.status === 'AGENDADO',
      'status-confirmado': atendimento?.status === 'CONFIRMADO',
      'status-cancelado': atendimento?.status === 'CANCELADO'
    }">{{ atendimento?.status ?? 'Status não disponível' }}</p>
    <div class="input-paciente w25" >
      <img *ngIf="atendimento" src="../../../assets/akar-icons_check-box-fill.svg" class="custom-icon"
      (click)="atendimento.status === 'CONFIRMADO' ? atualizarPresenca(atendimento.id, true) : null" 
      alt="Presente" [ngClass]="{
        'input-paciente-disable': atendimento?.status != 'CONFIRMADO',
      }">

      <img *ngIf="atendimento" src="../../../assets/akar-icons_check-box-fil-xl.svg" class="custom-icon"
      (click)="atendimento.status === 'CONFIRMADO' ? atualizarPresenca(atendimento.id, false) : null" alt="Ausente"[ngClass]="{
        'input-paciente-disable': atendimento?.status != 'CONFIRMADO',
      }">
    </div>
  </div>
</section>
