<section class="paciente-infos">
  <p class="w20">10:00<br>
    10:50</p>
  <div class="paciente">
    <p class="w50">Xulips Dev fullstack</p>
    <p class="status status-presente w25">Confirmado</p>
    <form class="input-paciente w25">
      <label>
        <input type="radio" name="presenca" value="presente">
        <i class="bi bi-check-circle-fill"></i>
      </label>
      
      <label>
        <input type="radio" name="presenca" value="ausente">
        <i class="bi bi-x-circle-fill"></i>
      </label>
    </form>
    
  </div>
</section>