<section>
  <div class="info">
    <img src="../../assets/mdi_calendar-check.svg" alt="">
    <h3>Agendados</h3>
  </div>
  <h2 class="quantidade">{{ quantidadeAtendimentos }}</h2>
</section>

<section>
  <div class="info">
    <img src="../../assets/mdi_clock.svg" alt="">
    <h3>Livres</h3>
  </div>
  <h2 class="quantidade">{{ quantidadeDisponiveis }}</h2>
</section>

<section>
  <div class="info">
    <img src="../../assets/mdi_patient.svg" alt="">
    <h3>Finalizados</h3>
  </div>
  <h2 class="quantidade">{{ pacientesAtendidos }}</h2>
</section>
